.about-characteristics-container {
    text-align: center;
}

.about-characteristics-item {
    height: 230px;
}

.about-characteristics-item-img {
    height: 100px;
    object-fit: cover;
}

.about-characteristics-item-text {
    margin: 15px 0 5px 0;
    font-size: 18pt;
    font-weight: 500;
}

.about-characteristics-item-subtext {
    
}

.about-profile-container {
    height: 330px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    letter-spacing: 0.01em;
}

.about-profile-img {
    object-fit: cover;
    max-height: 250px;
    border-radius: 125px;
}

.about-profile-text {
    margin: 20px 0 15px 0;
    font-size: 24pt;
    font-family: KoPub Dotum;
    font-weight: bold;
    letter-spacing: 0.01em;
}

.about-profile-description {
    margin: 0 auto;
    font-family: KoPub Dotum;
    font-size: 12pt;
    letter-spacing: -0.02em;
}

.ability {
    /* max-width: 90%; */
    position: relative;
    height: 28px;
    display: block;
    align-items: flex-end;
    background: #dddddd;
    margin-bottom: 15px;
    text-align: end;
    letter-spacing: 0.02em;
}

.ability-bar {
    height: 100%;
    width: 0%;
    padding: 0;
    transition: 1.1s 0.2s width ease-in-out;
    -webkit-transition: 1.1s 0.2s width ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    background: #a12922;
    margin: 0 0 15px 0;
}

.ability-name {
    width: 110px;
    font-size: 11pt;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background: #d4352c;
    height: 100%;
}

.ability-percentage {
    display: initial;
    font-size: 11pt;
    z-index: 1;
    padding: 0 10px 0 0;
    line-height: 28px;
}

.ability-tag {
    display: inline-block;
    border: 1px solid #d4352c;
    font-size: 15px;
    color: #d4352c;
    padding: 2px 8px;
    margin: 4px 8px 4px 0;
}

.about-ability-container {
    display: block;
    text-align: start;
    justify-content: flex-start;
}

@media (max-width: 992px) {
    .ability {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .about-ability-container {
        margin: 0 auto !important;
        max-width: 60% !important;
    }
    .about-profile-container {
        height: 100%;
    }
    .ability-tag {
        font-size: 11pt;
    }
    .about-profile-description {
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    .about-profile-container {
        height: 100%;
    }
    
    .about-ability-container {
        margin: 0 auto;
        max-width: 60%;
    }
    .about-profile-description {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .about-ability-container {
        margin: 0 auto;
        max-width: 80% !important;
    }
    .ability {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .ability-percentage {
        display: none;
    }
    .about-profile-description {
        max-width: 400px;
    }
}

@media (max-width:576px) {
    .ability-name {
        width: 90px;
        font-size: 9pt;
    }
    .ability-tag {
        font-size: 9pt;
    }
    .about-ability-container {
        max-width: 90%;
        padding: 0;
    }
    .about-profile-description {
        max-width: 80%;
    }
}

@media (max-width:420px) {
    .about-ability-container {
        max-width: 90% !important;
        padding: 0;
    }
    .about-profile-description {
        max-width: 90%;
    }
}

@media (max-width:320px) {
    .ability-name {
        width: 70px;
        font-size: 7pt;
    }
    
    .ability-tag {
        font-size: 6pt;
    }

    .about-ability-container {
        max-width: 90% !important;
        padding: 0;
    }
}