#career {
    background-color: #e8e8e8;
}

.timeline-center-icon {
    font-size: 19pt;
}

.vertical-timeline-element-icon > svg {
    left: 0;
    top: 0;
    margin: 0;
}

.vertical-timeline-element-icon {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-date-text {
    color: black;
    font-family: KoPub Dotum;
    font-weight: 500;
    font-style: oblique;
}

.timeline-logo-img {
    height: 125px;
    max-width: 125px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.timeline-title-text {
    margin-top: 16px;
    margin-bottom: 12px;
    font-size: 23pt;
    line-height: 1.3em;
    color: black;
}

.timeline-link-text, .timeline-link-text a {
    font-size: 12pt;
    color: black;
    font-style: oblique;
}

.timeline-content-text {
    font-size: 11.5pt;
    color: black;
    font-family: KoPub Dotum;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 16px;
    font-style: oblique;
}

.timeline-term-text {
    color: #858585;
    font-family: KoPub Dotum;
    font-weight: 500;
    font-style: oblique;
}

/* .vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns {
    margin: 0 !important;
} */