#contact {
    /* background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
    background-repeat : no-repeat;
    background-size : cover; */
    background-color: #252934;
}

.contact-input-container {
    min-width: 500px;
    margin: 40px auto 0 auto;
}

.contact-title-text {
    color: #FF8D00;
    font-size: 2rem;
    margin: 0 0 40px 0;
}

@media (max-width: 1024px) {
    .contact-title-text {
        font-size: 20pt;
    }
}

@media (max-width: 576px) {
    .contact-input-container {
        min-width: 1px;
        width: 80%;
        margin: 0 auto;
    }
    .contact-title-text {
        font-size: 12pt;
        margin: 0 0 20px 0;
    }
    .contact.title {
        margin: 0 0 20px 0;
    }
}

@media (max-width: 360px) {
    .contact-title-text {
        font-size: 12pt;
        margin: 0 0 20px 0;
    }
    .contact.title {
        margin: 0 0 20px 0;
    }
}

.ant-form-item {
    margin-bottom: 3px !important;
}

.btn-submit {
    float: right;
    font-size: 12pt;
    margin: 5px 0 0;
    padding: 10px 30px;
    border: 2px solid #fff;
    background: black;
    color: white;
    cursor: pointer;
}