.footer-container {
    height: 250px;
    background: rgb(27,36,47);
    margin: 0 auto;
    position: relative;
}

.footer-link-container {
    height: 150px;
    line-height: 250px;
    text-align: center;
}

.footer-link-item {
    margin: 0 16px;
    width: 55px;
    height: 55px;
    background: #262f38;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-link-icon {
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    color: white !important;
}

.footer-top-btn {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border: none;
    background: #FF8D00;
    color: white;
    cursor: pointer;
}

.footer-author {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: rgba(255,255,255,.2);
    font-weight: bold;
    font-size: 1.5rem;
}
