.footer-container {
    height: 150px;
    background: black;
    margin: 0 auto;
    position: relative;
}

.footer-link-container {
    height: 150px;
    flex-direction: row;
    align-items: flex-end;
    text-align: center;
}

.footer-link-item {
    margin: 0 16px;
    width: 55px;
    height: 55px;
    background: #262f38;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-link-icon {
    font-size: 1.6rem;
    display: inline-block;
    vertical-align: middle;
    color: white !important;
}

.footer-top-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.footer-author {
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: rgba(255,255,255,.2);
    font-weight: bold;
    font-size: 1.5rem;
}

.arrow-up-down2 {
    animation: arrow-up-down2 2.5s ease-in-out infinite;
}

@keyframes arrow-up-down2 {
    0% {
        opacity: 1;
        transform: translateX(-50%);
    }
    50% {
        transform: translate(-50%,30px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%,0);
        opacity: 1;
    }
}