#home {
    height: calc(100vh + 53px);
    background-color: black;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/homeGif.gif'); */
    overflow: hidden;
    position: relative;
    z-index: 3;
}

.homegif {
    position: absolute;
    z-index: 2;
}

.home-text {
    font-size: 32pt;
    text-align: center;
    line-height: 64px;
    margin: 0 0 20px 0;
    z-index: 1;
    color: white;
    pointer-events: none;
    font-family: KoPub Batang;
    font-weight: 100;
}

@media (max-width: 576px) {
    .home-text {
        font-size: 20pt;
        line-height: 30px;
    }
}

@media (max-width: 400px) {
    .home-text {
        font-size: 18pt;
        line-height: 28px;
    }
}

@media (max-width: 360px) {
    .home-text {
        font-size: 16pt;
        line-height: 24px;
    }
}

@media (max-width: 321px) {
    .home-text {
        font-size: 14pt;
        line-height: 24px;
    }
}


.home-text-span {
    pointer-events: none;
    font-family: KoPub Batang;
    font-weight: bold;
}

.home-btn {
    position: relative;
    font-size: 16pt;
    cursor: pointer;
    background: transparent;
    border: 2px solid white;
    color: white;
    height: 52px;
    padding: 0 50px 0 16px;
    text-align: center;
    transition: all 0.5s;
}

.home-btn:hover {
    background: #FF8D00;
    border: 2px solid transparent;
}

.home-btn-icon {
    transition: transform 0.3s;
    right: 15px;
    position: absolute;
    top: 16px;
    color: white;
}

.home-arrow-container {
    text-align: center;
    cursor: pointer;
    transition: opacity 1s;
    color: white;
    position: relative;
    top: 30%;
    font-size: 16pt;
    opacity: 0;
    user-select: none;
}

.home-bottom-arrow {
    transform: rotate(90deg);
    text-align: center;
}

.arrow-up-down {
    animation: arrow-up-down 2.5s ease-in-out infinite;
}

@keyframes arrow-up-down {
    0% {
        opacity: 1;
    }
    50% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}