#works {
    padding: 100px 0 130px 0;
}

.works-tabs-container {
    width: 10%;
}

.works-tabs-item-container {
    flex-direction: row;
    position: relative;
    white-space: nowrap;
}

.works-tab-item {
    font-size: 16pt;
    margin: 0 25px;
    padding: 0 40px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.5s;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.works-tab-item.active {
    background-color: #a12922;
    color: white;
}

@media (max-width: 1024px) {
    .works-tab-item {
        padding: 0 30px;
        margin: 0 20px;
        font-size: 14pt;
    }    
}
@media (max-width: 768px) {
    .works-tab-item {
        padding: 0 20px;
        font-size: 12pt;
        margin: 0 10px;
    }
    
    .works-tabs-container {
        width: 50%;
    }
}
@media (max-width: 576px) {
    .works-tab-item {
        padding: 0 10px;
        margin: 0 10px;
        font-size: 11pt;
    }
}
@media (max-width: 380px) {
    .works-tab-item {
        padding: 0 4px;
        font-size: 9pt;
    }
}
@media (max-width: 280px) {
    .works-tab-item {
        padding: 0 0;
        font-size: 4pt;
    }
}

.works-item-container {
    width: 100%;
    margin: 20px 0;
}

.works-items-row-container {
    height: auto;
    transition: height 600ms ease 0s;
    width: 100%;
}

.works-items-col-container {
    height: 300px;
    width: 100%;
}

.works-items-card-container {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.works-items-card-img {
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;
}

.works-items-card-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    text-align: center;
    opacity: 0;
}

.works-items-card-btn {
    position: absolute;
    left: 0;
    right: 0;
    font-size: 13pt;
    padding: 7px 0;
    bottom: 0;
    width: 170px;
    z-index: 2;
    margin: 0 auto;
    color: #d3452c;
    transition: all 0.3s ease-in-out;
    border: 2px solid #d3452c;
    opacity: 0;
    background: transparent;
}

.works-items-card-btn:hover {
    background: #d3452c;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .works-items-card-container {
        width: 100%;
    }
}

.ant-modal-wrap {
    background-color: rgba(0,0,0,.7);
}

.close-icon-container {
    cursor: pointer;
    text-align: right;
    font-size: 16pt;
    color: gray;
}

.modal-title-container {
    font-size: 24pt;
    word-spacing: -1px;
}

.modal-subtitle-container {
    color: gray;
    font-size: 14pt;
}

.modal-content-container {

}

.modal-body-container {
    padding: 8px 24px 24px 24px;
}

@media (max-width: 300px) {
    .modal-title-container {
        font-size: 20pt;
    }
    .modal-subtitle-container {
        font-size: 12pt;
    }
    .modal-content-container {
        font-size: 10pt;
    }
}

.ant-modal-body {
    padding: 16px 0 0 0 !important;
}

.modal-title-img-container {
    position: relative;
    min-height: 300px;
}

.modal-title-img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.modal-title-icon {
    position: absolute;
    font-size: 18pt;
    color: white !important;
    bottom: 4px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px;
    cursor: pointer;
}

.left {
    left: 4px;
}

.right {
    right: 4px;
}