section {
  margin: 0 auto;
  width: 100%;
  padding: 130px 0 180px;
  color: #616161;
}

section > .container {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    text-align: center;
}

.title-bar {
    background: #444649;
    width: 70px;
    height: 4px;
    margin: 25px 0 100px 0;
}