body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: KoPub Batang !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html
{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar-button:start:decrement, 
body::-webkit-scrollbar-button:end:increment {
					/*  스크롤의 화살표가 포함된 영역   */
  display: none;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
body::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}